.navbar{
  background-color: #0077b6;
  color:white;
  display: flex;
  gap:10px;
  /* justify-content:start; */
  height: 30px;
  padding-top:10px;
  padding-left: 8px;
  padding-bottom: 10px;
  margin:0px 10px 0px 10px;
  border-radius: 5px;
}
.navitems{
  display: flex;
  justify-content:end;
  /* border:1px solid red; */
  width:87%;
  gap:10px;
}
.logo{
  padding-top: 7px;
}

button,input{
  border-radius: 3px;
  border: none;
}

/* Style for the card container */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the card content */
.card-content {
  margin: 0;
  padding: 0;
}

/* Style for the title */
h2 {
  font-size: 18px;
  margin: 0;
}

/* Style for the author, unique ID, and gender */
p {
  margin: 5px 0;
}


/* Time taken */
/* Style for the "Time Taken" section */
#timeTaken {
  font-size: 16px;
  margin:0px 10px 0px 10px;
}

/* Style for the time value */
.time {
  font-weight: bold;
  color: #0077b6; /* Change this color to your preferred color */
}